body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*INICIO LOGIN*/

.App {
  text-align: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #444;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.logintitulo {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.inputclass {
  border: #444 solid 2px;
  padding: 10px;
}


.btnlogin {
  background-color: #444;
  color: #fff;
  text-decoration: none;
  padding: 8px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
}

/*LISTADO*/

.divclass {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.cardclass {
  background-color: #fff;
  width: 180px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin: 10px;
  cursor: pointer;
  border: solid #fff 5px;
  border-radius: 5px;
}

.imgclass {
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

.tituloclass {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 140px;
  font-size: 14px;
  color: #444;
}

.btnclassdetalle {
  background-color: #444;
  text-decoration: none;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  margin-top: 5px;
}

/* LINKS */

.linksclass {
  background-color: #444;
  color: #fff;
  list-style: none;
  text-decoration: none;
  user-select: none;
  padding: 8px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 17px;
}

/*CONTACTO*/

.contact-container {
  background-color: #11181f;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
}

.container-form {
  margin-top: 20vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  width: 200px;
  margin-bottom: 30px;
  cursor: text;
  border: solid 3px #fff;
  background-color: #11181f;
  color: #fff;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
}
.form-input::placeholder {
  font-weight: 600;
  color: #fff;
}

.form-textarea {
  width: 250px;
  margin-bottom: 30px;
  cursor: text;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 10px;
  border: solid 3px #fff;
  background-color: #11181f;
  border-radius: 10px;
}

.form-textarea::placeholder {
  font-weight: 600;
  color: #fff;
}

.form-botton-send {
  padding: 10px;
  cursor: pointer;
  background-color: #444;
  color: #fff;
  list-style: none;
  text-decoration: none;
  user-select: none;
  padding: 8px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 17px;
}

/*DESCRIPCION*/

.descripclass {
  display: flex;
  flex-direction: column;
  background-color: #11181f;
  width: 100%;
  height: 100vh;
  color: #fff;
}

.descripelementos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  margin: auto 0;
}

.descripimagen {
  margin-top: 20px;
  height: 50%;
}
